#footer {
  border-top: solid 1px #dddddd;
  margin-top: 20px;
  padding-left: 16px;
  padding-right:16px;
  padding-top:10px;
  height: 40px;
  color: #333333;
}

#left-text {
  float:left;
}

#right-text {
  float:right;
}
