.inline {
  display: inline;
}

.mat-dialog-content{
  padding: 20px;
  min-width:300px;
}

.title {
  text-align: center;
  color: darkred;
  font-size: 22px;
  margin-bottom: 20px;
}

p {
  font-size: 17px;
}
