<p *ngIf="this.msg != ''">{{this.msg}}</p>
<h1>Créer une visite</h1>
<div class="container" *ngIf="this.securityObject.isAuthenticated&&this.securityObject.isInstitution&&this.formGroup; else notAuth" novalidate>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
    <!-- Titre -->
    <mat-form-field class="form-element">
      <mat-label>Titre de la visite</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <!-- Description -->
    <mat-form-field class="form-element">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Catégories</mat-label>
      <mat-select formControlName="categ" multiple>
        <mat-option *ngFor="let option of categories" [value]="option.id">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="accent" type="submit" class="button" [disabled]="!formGroup.valid">Envoyer</button>
    </div>
  </form>
</div>


<ng-template #notAuth>
  <div class="container">
    <mat-h1>Vous n'êtes pas connecté ou n'êtes pas une institution</mat-h1>
  </div>
</ng-template>
