/**
Date de création     : 27.03.2021
Dernier contributeur : Dylan Canton
Groupe               : PRO-A-07
Description          : Fichier CSS du composant d'upload d'image
Remarque             : -
Sources              : -
*/

.file-input {
  display: none;
}
