<div class="container">
<i>Selon la Loi fédérale sur la protection des données (RS 235.1)</i>
<br/><br/>
<p>
  <u><b>Inscription en tant que privé</b></u><br/>
  <br/>
  L’inscription est facultative, hormis pour les comptes professionnels.<br/>
  <br/>
  Les informations demandées lors de l’inscription ne sont utilisées que dans un but d’authentification de l’utilisateur.<br/>
  <br/>
  La création du compte se fait automatiquement à la première connexion sur le site lorsque l'utilisateur se connecte avec son compte Facebook. L'utilisateur obtient un compte privé.<br/>
<br/>
Il n'est pas nécessaire de se connecter au site pour voir les visites.
</p>
<p>
  <u><b>Inscription en tant qu'institution</b></u><br/>
  <br/>
  Il est nécessaire d'être connecté en tant que compte privé pour pouvoir faire une demande afin de devenir une institution.<br/>
  <br/>
  Les informations demandées lors de l’inscription ne sont utilisées que dans un but d’authentification de l’utilisateur et de s'assurer de son identité. Les administrateurs se réservent le droit de contacter par email l'utilisateur afin de s'assurer qu'il représente bien une institution.
</p>
<p>
  <u><b>Compte</b></u>
  <br/>
  Les données Facebook récupérées sont les suivantes :<br/>
  <br/>
  · Email<br/>
  <br/>
A chaque connexion, l'adresse email du compte Facebook de l'utilisateur est récupérée.<br/>
Son adresse email peut être utilisée pour contacter l'utilisateur, elle n'est cependant pas utilisée pour envoyer des notifications.<br/>
  <br/>
· Identifiant Facebook<br/>
  <br/>
Son identifiant Facebook est également récupéré et stocké dans la base de données afin d'identifier l'utilisateur. Cette information est privée et n'est pas diffusée.<br/>
  <br/>
· Nom du profil<br/>
  <br/>
Le nom du profil Facebook est récupéré et stocké lors de la création du compte. Pour les institutions, il sera visible sur le site, public, et celui-ci peut être modifié.
  Pour les utilisateurs privés, le nom de profil n'est affiché qu'à lui-même et ne peut être modifié directement sur le site.<br/>
  <br/>
· Autres informations<br/>
  <br/>
Les autres informations de profil Facebook récupérées en frontend, par exemple l'image de profil, ne sont ni utilisées ni stockées dans la base de données. Elles ne sont pas transmises en backend et le serveur de Swissculture ne fait pas de requête à l'API Facebook pour les récupérer.<br/>
  <br/>
Les informations présentent dans un compte ne sont pas transmises à des tiers et ne sont utilisées qu’à des buts d’authentification.<br/>
  <br/>
L’utilisateur a accès en tout temps à ses données.<br/>
</p>
<p>
  <u><b>Suppression d'un compte</b></u><br/>
  <br/>
L’utilisateur privé peut en tout temps décider de supprimer son compte, aucune donnée ne sera gardée après suppression d’un compte.<br/>
  <br/>
L'utilisateur institution doit en faire la demande par email, aucune donnée ne sera gardée après suppression d’un compte.<br/>
  <br/>
</p>

<p>
  <u><b>Traitement des données personnelles</b></u><br/>
  <br/>
  Toute donnée relative à l’utilisateur n’est aucunement transmise à des tiers.<br/>
  <br/>
  Toute donnée relative à l’utilisateur est stockée en Suisse, aucune donnée n’est transmise au-delà du territoire Suisse.<br/>
  <br/>
  L'utilisateur privé a accès en tout temps à ses données. Il ne peut pas directement les modifier sur le site mais il peut en faire la demande à notre adresse de contact.<br/>
  <br/>
  A l'exception du profil public, toute donnée relative à l’utilisateur n’est pas visible sur le site.<br/>
  <br/>
  Les informations contenues dans le profil public sont visibles par toute personne accédant au site.<br/>
  <br/>
  Pour les utilisateurs privés, ceux-ci n'ont pas de profil public.<br/>
  <br/>
  Les informations suivantes sont contenues dans le profil public :<br/>
</p>
  <ul>
    <li>Nom</li>
    <li>Domaine</li>
    <li>Catégorie</li>
    <li>Image de profil</li>
    <li>Description</li>
    <li>Adresse</li>
  </ul>
<br/>

<p>
L’utilisateur garantit l’exactitude des informations qu’il fournit.
</p>
<p>
  <u><b>Sécurité des données</b></u><br/>
  <br/>
  L’intégrité des données relatives à l’utilisateur est garantie par des mécanismes de sécurité.<br/>
  <br/>
  Les données relatives à l’utilisateur sont protégées contre une utilisation abusive ou un vol par des mécanismes de sécurité.<br/>
  <br/>
</p>
<p>
  <u><b>Propriété intellectuelle</b></u><br/>
  <br/>
  Tout contenu publié par une institution est protégé contre une utilisation non autorisée.<br/>
  <br/>
Les utilisateurs (connecté ou non) n'ont pas le droit d'utiliser, modifier, publier et reprendre à leur nom le contenu des visites, que ça soit à but commercial ou non.<br/>
  <br/>
L’institution se doit de garantir que le contenu utilisé respecte le droit de propriété intellectuelle.<br/>
  <br/>
Le contenu publié sur le site par une institution reste la propriété de l’institution.<br/>
  <br/>
</p>
<p>
  <u><b>Publication des données</b></u><br/>
  <br/>
  L’institution se doit de garantir que toute donnée publiée n’enfreint aucunement le code pénal et civil Suisse, sans quoi le contenu cité sera retiré.<br/>
  <br/>
</p>
<p>
  <u><b>Adresse de contact</b></u><br/>
  <br/>
admin@swissculture.tk
</p>

</div>
