<div *ngIf="msg">{{msg}}</div>
<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
    <!-- Titre -->
    <mat-form-field class="form-element">
      <mat-label>Titre</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>

    <!-- Auteur -->
    <mat-form-field class="form-element">
      <mat-label>Auteur</mat-label>
      <textarea matInput formControlName="author"></textarea>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field class="form-element">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Modifier</button>
    </div>
  </form>
</div>

<div class="container">
  <form (ngSubmit)="onSubmitDelete()" class="form">
    <div class="form-element">
      <button mat-raised-button color="warn" type="submit" class="button">Supprimer l'image</button>
    </div>
  </form>
</div>
